# Created by venv; see https://docs.python.org/3/library/venv.html
Include/
Lib/
Scripts/
pyvenv.cfg
*.pyc
__pycache__/
*.egg-info/
.pytest_cache/
.venv
filepathOrganizer.py

xray_model.h5
xray_vgg16.h5
best_model.h5